// colors

$primary-color: #cca210;
$primary-color-light: #fee37c;
$primary-color-dark: #6c5b18;
$background-color-light: #3f454b;
$background-color-dark: #2c2e30;
$background-color: #676c71;
$text-color-dark: #2c2e30;
$text-color-light: #fff;
$black: #000;
$white: #fff;

