@import "variables";
@import "mixins";

@mixin responsive-text-length($length-on-large) {
  @include respond-to-custom($tablet-size + 1, -1) {
    $text-length: $length-on-large;
    &:first-child {
      .item-text {
        @include honeycomb-content(380px, $text-length);
      }
    }

    &:nth-child(2) {
      .item-text {
        @include honeycomb-content(300px, $text-length);
      }
    }

    &:last-child {
      .item-text {
        @include honeycomb-content(380px, $text-length);
      }
    }
  }

  @include respond-to-custom(0, $tablet-size) {
    $text-length: 150px;
    &:first-child {
      .item-text {
        @include honeycomb-content(380px, $text-length);
      }
    }

    &:nth-child(2) {
      .item-text {
        @include honeycomb-content(300px, $text-length);
      }
    }

    &:last-child {
      .item-text {
        @include honeycomb-content(380px, $text-length);
      }
    }
  }
}

.about-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  width: 100%;
  max-width: 1440px;
}

.description {
  max-width: 916px;
  font-size: 25px;
  @include respond-to(mobile) {
    font-size: 16px
  }
;
  align-self: center;
  margin: 30px 15px;
  text-align: center;
}

.bold {
  font-size: 30px;
  @include respond-to(mobile) {
    font-size: 21px
  }
;
  font-weight: bold;
}

.about-item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  &:hover {
    .item-text {
      p {
        box-shadow: 10px 5px 10px 10px #888888;
      }
    }
  &.item-left {
      .item-image {
        img {
          filter: drop-shadow(10px 10px 10px #888888);
        }
      }
    }
    &.item-right {
      .item-image {
        img {
          filter: drop-shadow(-10px 10px 10px #888888);
        }
      }
    }
  }


}

.center-section {
  @include respond-to-custom(1441px, -1) {
    padding-top: 40px;
    .center-honeycomb {
      img {
        width: 475px !important;
      }
    }
  }
  @include respond-to(mobile) {
    order: 1;
    padding-bottom: 20px;
    padding-top: 0;
    .center-honeycomb {
      img {
        width: 325px !important;
      }
    }
  }
  padding-top: 20px;
  display: flex;
  justify-content: center;

  .center-honeycomb {
    position: relative;

    img {
      width: 375px;
    }

    margin: 0 -60px 0 -60px;
  }
}

.left-section {
  @include respond-to(mobile) {
    order: 2
  }
  @include respond-to(tablet) {
    order: 2;
  }
}

.right-section {
  order: 3;
}

.item-left {
  order: 1;

  .item-text {
    p {
      justify-content: flex-end;
    }
  }

  .item-image {
    left: -24px;
  }

  @include responsive-text-length(200px);
}

.item-image {
  position: relative;
  z-index: 2;

  img {
    margin-right: -24px;
    margin-top: -10px;
    @include respond-to-custom(0, 1440px) {
      width: 130px;
    }
  }
}

.item-right {
  order: 3;
  justify-content: flex-end;

  .item-text {
    p {
      position: relative;
      padding-left: 50px;
      padding-right: 0;
    }
  }

  .item-text {
    span {
      text-align: left;
    }
  }

  @include responsive-text-length(220px);
}

.honeycombs {
  display: flex;
  @include respond-to(tablet) {
    flex-direction: column;
    padding: 0;
  }
  @include respond-to(mobile) {
    flex-direction: column;
    padding: 0;
  }
  justify-content: space-around;
  padding-left: 15px;
  //@include respond-to()
  padding-top: 10px;
  overflow-x: hidden;
}


.honeycomb-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  text-shadow: 2.9px 4px 7px rgba(19, 13, 53, 0.14);
  font-size: 30px;
  font-weight: bold;
  color: #2c2e30;
  text-transform: uppercase;
  @include respond-to-custom(1441px, -1) {
    font-size: 39px;
  }
  @include respond-to(mobile) {
    top: 25px
  }
}

.item-text {
  p {
    height: 70px;
    font-size: 22px;
    text-align: right;
    background-color: #3f454b;
    color: #fff;
    padding-right: 50px;
    align-items: center;
    display: flex;
  }

  span {
    display: inline-flex;
  }
}

$start-offset: 200px;

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-$start-offset);
    transform: translateX(-$start-offset)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-$start-offset);
    -ms-transform: translateX(-$start-offset);
    transform: translateX(-$start-offset)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX($start-offset);
    -ms-transform: translateX($start-offset);
    transform: translateX($start-offset);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX($start-offset);
    transform: translateX($start-offset)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

.animation-fade-left {
  -webkit-animation: 0.5s fadeInLeft forwards;
  -o-animation: 0.5s fadeInLeft forwards;
  animation: 0.5s fadeInLeft forwards;
}

.animation-fade-right {
  -webkit-animation: 0.5s fadeInRight forwards;
  -o-animation: 0.5s fadeInRight forwards;
  animation: 0.5s fadeInRight forwards;
}

.invisible {
  visibility: hidden;
}
